<mat-toolbar color="accent"> 
    <button mat-icon-button class="btn_profile" aria-label="Example icon-button with heart icon"
        [routerLink]="['/profile']">
        <mat-icon class="icon">account_circle</mat-icon>
        Profile
    </button>

    <button mat-icon-button class="btn_book" aria-label="Example icon-button with heart icon"
        [routerLink]="['/book']">
        <mat-icon>book</mat-icon>
        Book
    </button>

    <button mat-icon-button class="btn_blog" aria-label="Example icon-button with heart icon"
        [routerLink]="['/blog']">
        <mat-icon>favorite</mat-icon>
        Blog
    </button>
    <label class="title-header">Angular (Simple-CRUD)</label>    
    
</mat-toolbar>